@import '@angular/material/theming';

@include mat-core();


// GAMA COLORES
$my-accent-color: (
  200 : #E7E680,
  500 : #CECC00,
  700 : #C2C000,
  contrast: (
    200 : #ffffff,
    500 : #ffffff,
    700 : #ffffff,
  )
);

$my-primary-color: (
  200 : #809BA6,
  500 : #00374C,
  700 : #002A3C,
  contrast: (
    200 : #3b3b3b,
    500 : #ffffff,
    700 : #ffffff,
  )
);

$my-warn-color: (
  200 : #EE9AA2,
  500 : #dc3545,
  700 : #D32836,
  contrast: (
    200 : #000000,
    500 : #ffffff,
    700 : #ffffff,
  )
);

// PALETA DE COLORES
$my-palette-primary: mat-palette($my-primary-color);
$my-palette-accent: mat-palette($my-accent-color);
$my-palette-warn: mat-palette($my-warn-color);

// TEMA PROPIO
$my-theme: mat-light-theme((
 color: (
   primary: $my-palette-primary,
   accent: $my-palette-accent,
   warn: $my-palette-warn
 )
));

// APLICAR NUESTRO TEMA A ANGULAR
@include angular-material-theme($my-theme);


// REEMPLAZA EN ANGULAR.JSON -> STYLES
// "./node_modules/@angular/material/prebuilt-themes/indigo-pink.css",
// POR LA RUTA DEL CUSTOM THEME
// "src/assets/styles/my-theme.scss",